@model BakcellPhoneWebApp.Models.Order

@{
    ViewBag.Title = "Yarat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .wrapper form {
            max-width: 784px;
            margin: 30px auto;
        }

        .form-items {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .item {
            width: 376px;
            margin: 0 8px;
        }

        @@media screen and (max-width: 803px) {
            .form-items {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .item {
                margin: 0;
            }
        }

        .item .select2-container {
            width: 100% !important;
            margin: 8px 0 16px;
            height: 38px;
        }

        .select2-container--default .select2-selection--single {
            outline: none !important;
            height: 38px;
            padding: 4px 8px;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 4px !important;
                right: 5px !important;
            }
    </style>
}

<h1 class="big-title">Sifariş</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-items">
        <div class="item">
            <label>Müştərinin əlaqə nömrəsi</label>
            @Html.EditorFor(model => model.CustomerPhoneNumber, new { htmlAttributes = new { @placeholder = "Müştərinin əlaqə nömrəsi" } })
            @Html.ValidationMessageFor(model => model.CustomerPhoneNumber, "", new { @class = "text-danger" })
        </div>
        <div class="item">
            <label>Sifariş etdiyi nömrə</label>
            @Html.EditorFor(model => model.OrderedPhoneNumber, new { htmlAttributes = new { @placeholder = "Sifariş etdiyi nömrə" } })
            @Html.ValidationMessageFor(model => model.OrderedPhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-items">
        <div class="item">
            <label>Şəhər</label>
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @placeholder = "Şəhər" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
        <div class="item">
            <label>Rayon</label>
            @Html.EditorFor(model => model.District, new { htmlAttributes = new { @placeholder = "Rayon" } })
            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-items">
        <div class="item">
            <label>Ünvan</label>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @placeholder = "Metro, küç., bina, blok, mənzil, mərtəbə" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        <div class="item">
            <label>Nömrənin qiyməti</label>
            @Html.EditorFor(model => model.NumberPrice, new { htmlAttributes = new { placeholder = "Nömrənin qiyməti" } })
            @Html.ValidationMessageFor(model => model.NumberPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-items">
        <div class="item">
            <label>Satıcının adı</label>
            @Html.DropDownListFor(m => m.VendorId, (IEnumerable<SelectListItem>)ViewBag.Vendors, null, new { @class = "js-select" })
        </div>
        <div class="item">
            <label>Çatdırılma vaxtı</label>
            @Html.EditorFor(model => model.DeliveryTime, new { htmlAttributes = new { placeholder = "Çatdırılma vaxtı", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.DeliveryTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-items">
        <div class="item">
            <label>Müştərinin adı, soyadı və atasının adı</label>
            @Html.EditorFor(model => model.CustomerInfo, new { htmlAttributes = new { placeholder = "Müştərinin adı, soyadı və atasının adı" } })
            @Html.ValidationMessageFor(model => model.CustomerInfo, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Sifarişi Tamamla">
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-select').select2();
        });
    </script>
}