@model BakcellPhoneWebApp.Models.OnWayModel
@{
    ViewBag.Title = "Kuryer seç";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/ordercard.css">
}
<h1 class="big-title">Kuryer seç</h1>
    @using (Html.BeginForm("OnWayStatus", "Orders", FormMethod.Post, new { @class = "card-container" }))
    {
        <input type="hidden" name="courierId" id="courierId" />
        <input type="hidden" name="id" id="id" />
        foreach (var item in Model.Couriers)
        {
            <section class="card">
                <div class="card-body">
                    <div class="card-items">
                        <div class="card-title">Ad :</div>
                        <span class="card-info">@item.Name</span>
                    </div>
                    <div class="card-items">
                        <div class="card-title">Soyad :</div>
                        <span class="card-info">@item.Surname</span>
                    </div>
                    <div class="card-items">
                        <div class="card-title">İstifadəçi adı :</div>
                        <span class="card-info">@item.UserName</span>
                    </div>
                    <div class="card-items">
                        <div class="card-title">Balans :</div>
                        <span class="card-info">@item.Balance</span>
                    </div>
                    <div class="card-items">
                        <div class="card-title">Məkan :</div>
                        <span class="card-info">@item.Location</span>
                    </div>
                </div>
                <div class="card-footer">
                    <a onclick="addInfo('@item.Id','@Model.Id')" href="javascript:void(0)">Göndər</a>
                </div>
            </section>
        }
        <input type="submit" style="display: none" id="choosebutton" />
    }
    <script>
        function addInfo(first, second) {
            var courierid = document.getElementById('courierId');
            var id = document.getElementById('id');
            courierid.value = first;
            id.value = second;
            document.getElementById("choosebutton").click(); 
        };
    </script>