@model IEnumerable<BakcellPhoneWebApp.Models.Order>

@{
    ViewBag.Title = "Gələn sifarişlər";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/ordercard.css">
    <style>
        input[type=file] {
            display: none;
        }

        .card-footer {
            padding: 0;
        }

            .card-footer button {
                background-color: #2db504;
                width: 100%;
                height: inherit;
                border-radius: 0 0 15px 15px;
                cursor: pointer;
                outline: none;
                border: none;
            }
    </style>
}

<div class="gain-box">
    Qazanc :
    <span>@ViewBag.Balance Azn</span>
</div>
<h1 class="big-title">Gələn sifarişlər</h1>
<div class="card-container">
    @foreach (var item in Model)
    {
        <section class="card" id="@item.Id+column">
            <div class="card-body">
                <div class="card-items">
                    <div class="card-title">Müştəri :</div>
                    <span class="card-info">@item.CustomerInfo</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Satıcı :</div>
                    <span class="card-info">@item.Vendor.Name @item.Vendor.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Sifariş etdiyi nömrə :</div>
                    <span class="card-info">@item.OrderedPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Qiyməti :</div>
                    <span class="card-info">@item.NumberPrice</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Əlaqə nömrəsi :</div>
                    <span class="card-info">@item.CustomerPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Menecer :</div>
                    <span class="card-info">@item.Manager.Name @item.Manager.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Ünvan :</div>
                    <span class="card-info">@item.Address</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Çatdırılma vaxtı :</div>
                    <span class="card-info">@item.DeliveryTime.Value.ToString("dd.MM.yyyy hh:mm")</span>
                </div>
            </div>
            <div class="card-footer">
                <input type='file' onchange='UploadImage(this)' style="display: none" id="@item.Id" class="fileupload" />
                <input type="button" id="@item.Id+btnUpload" class="btnupload" value="Çatdırıldı" />
                <input id="img" type="file">
                <button for="img">Çatırdırıldı</button>
            </div>
        </section>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(".btnupload").click(function () {
        $(this).siblings('.fileupload').click();
    });
    function UploadImage(elm) {
        var id = $(elm).attr("id");
        var formdata = new FormData(); //FormData object
        var fileInput = elm;

        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Orders/DeliveredStatus/' + id);
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
                location.reload();
            }
        }
        return false;
    };
</script>