@model IEnumerable<BakcellPhoneWebApp.Models.Order>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/ordercard.css">

    <style>
        .card-footer {
            display: flex;
            padding: 0;
        }

            .card-footer a:nth-child(2) {
                background-color: #FCA311;
                border-bottom-right-radius: 15px;
            }

            .card-footer a {
                width: 50%;
                padding: 10px 0;
            }
    </style>
}

<h1 class="big-title">Gələn sifarişlər</h1>


<div class="card-container">
    @foreach (var item in Model)
    {
        <section class="card">
            <div class="card-body">
                <div class="card-items">
                    <div class="card-title">Müştəri :</div>
                    <span class="card-info">@item.CustomerInfo</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Satıcı :</div>
                    <span class="card-info">@item.Vendor.Name @item.Vendor.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Sifariş etdiyi nömrə :</div>
                    <span class="card-info">@item.OrderedPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Qiyməti :</div>
                    <span class="card-info">@item.NumberPrice</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Əlaqə nömrəsi :</div>
                    <span class="card-info">@item.CustomerPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Menecer :</div>
                    <span class="card-info">@item.Manager.Name @item.Manager.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Ünvan :</div>
                    <span class="card-info">@item.Address</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Çatdırılma vaxtı :</div>
                    <span class="card-info">@item.DeliveryTime.Value.ToString("dd.MM.yyyy hh:mm")</span>
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Çatdırıldı", "AdminDeliver", "Orders", new { id = item.Id }, null)
                @Html.ActionLink("Kuryerə Göndər", "OnWayStatus", "Orders", new { id = item.Id }, null)
            </div>
        </section>
    }
</div>