@model IEnumerable<BakcellPhoneWebApp.Models.Order>

@{
    ViewBag.Title = "Təsdiqlənməmiş sifarişlər";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/ordercard.css">
    <style>
        #myImg {
            border-radius: 5px;
            cursor: pointer;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 10%;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
        }

            .close:hover {
                color: #bbb;
                cursor: pointer;
            }

        @@media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }

        .card-img {
            margin-top: 15px;
        }

            .card-img img {
                width: 150px;
                max-width: 135px;
            }

        .card-footer {
            display: flex;
            padding: 0;
        }

            .card-footer a:nth-child(1) {
                background-color: red;
                border-bottom-left-radius: 15px;
            }

            .card-footer * {
                width: 50%;
                padding: 10px 0;
            }
    </style>
}

<h1 class="big-title">Təstiqlənməmiş sifarişlər</h1>

<div class="card-container">
    @foreach (var item in Model)
    {
        <section class="card">
            <div class="card-body">
                <div class="card-items">
                    <div class="card-title">Müştəri :</div>
                    <span class="card-info">@item.CustomerInfo</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Satıcı :</div>
                    <span class="card-info">@item.Vendor.Name @item.Vendor.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Sifariş etdiyi nömrə :</div>
                    <span class="card-info">@item.OrderedPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Qiyməti :</div>
                    <span class="card-info">@item.NumberPrice</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Əlaqə nömrəsi :</div>
                    <span class="card-info">@item.CustomerPhoneNumber</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Menecer :</div>
                    <span class="card-info">@item.Manager.Name @item.Manager.Surname</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Ünvan :</div>
                    <span class="card-info">@item.Address</span>
                </div>
                <div class="card-items">
                    <div class="card-title">Çatdırılma vaxtı :</div>
                    <span class="card-info">@item.DeliveryTime.Value.ToString("dd.MM.yyyy hh:mm")</span>
                </div>
                <div class="card-items">
                    <div class="card-img">
                        <img id="myImg" onclick="showPopup(this)" src="~/Uploads/Confirmation/@item.Image">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Yenidən göndər", "RejectOrder", "Orders", new { id = item.Id }, null)
                @Html.ActionLink("Təsdiqlə", "ConfirmOrder", "Orders", new { id = item.Id }, null)
            </div>
        </section>
    }
    <div id="myModal" class="modal">
        <span class="close">x</span>
        <img class="modal-content" id="img01">
    </div>
</div>

<script>
        var modal = document.getElementById("myModal");

        function showPopup(elm) {
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            modal.style.display = "block";
            modalImg.src = elm.src;
            captionText.innerHTML = elm.alt;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
</script>