@model BakcellPhoneWebApp.Models.CourierViewModel
@{
    ViewBag.Title = "Kuryer əlavə et";
}

@section Styles{
    <style>
        .wrapper form {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            margin: 35px auto;
            max-width: 396px;
        }
    </style>
}

@using (Html.BeginForm("AddCourier", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="big-title">Kuryer əlavə et</h1>

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Ad" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Surname)
    @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Soyad" })
    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "İstifadəçi adı" })
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.TgUsername)
    @Html.TextBoxFor(m => m.TgUsername, new { @placeholder = "Telegram istifadəçi adı" })
    @Html.ValidationMessageFor(m => m.TgUsername, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Location)
    @Html.TextBoxFor(m => m.Location, new { @placeholder = "Ünvan" })
    @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @placeholder = "Şifrə" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Təkrar şifrə" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

    <input type="submit" value="Əlavə et">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
