@model BakcellPhoneWebApp.Models.CourierEdit
@{
    ViewBag.Title = "Kuryer redaktə et";
}


@section Styles{
    <style>
        .wrapper form {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            margin: 35px auto;
            max-width: 396px;
        }
    </style>
}

@using (Html.BeginForm("EditCourier", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="big-title">Kuryer redaktə et</h1>
    @Html.HiddenFor(model => model.Id)

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Ad" })

    @Html.LabelFor(m => m.Surname)
    @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Soyad" })

    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "İstifadəçi adı" })

    @Html.LabelFor(m => m.TgUsername)
    @Html.TextBoxFor(m => m.TgUsername, new { @placeholder = "Telegram istifadəçi adı" })

    @Html.LabelFor(m => m.Location)
    @Html.TextBoxFor(m => m.Location, new { @placeholder = "Ünvan" })

    <label class="label-danger">@ViewBag.Error</label>

    <input type="submit" value="Yadda saxla">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
