@model BakcellPhoneWebApp.Models.ManagerEdit
@{
    ViewBag.Title = "Menecer redaktə et";
}

@section Styles{
    <style>
        .wrapper form {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            margin: 35px auto;
            max-width: 396px;
        }
    </style>
}

@using (Html.BeginForm("EditManager", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="big-title">Menecer redaktə et</h1>
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Ad" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Surname)
    @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Soyad" })
    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })

    <input type="submit" value="Yadda saxla">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
