@using BakcellPhoneWebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Daxil ol";
    Layout = "";
}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/index.css">
    <style>
        body {
            height: 100vh;
        }

        .wrapper {
            min-height: 100%;
        }

        .login-form {
            box-shadow: 0 16px 50px #7090B033;
            -webkit-box-shadow: 0 16px 50px #7090B033;
            -moz-box-shadow: 0 16px 50px #7090B033;
            background-color: var(--white);
            border-radius: 20px;
            width: 100%;
            max-width: 460px;
            height: 395px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            padding: 25px 42px;
        }

        .remember-box input {
            width: 20px;
            height: 20px;
            margin: 0 2px 0 5px;
            cursor: pointer;
        }

        .remember-box label {
            color: #A5A5A5;
            font-size: 12px;
            vertical-align: super;
        }

        @@media screen and (max-width: 470px) {
            .login-form {
                padding: 25px;
            }
        }
    </style>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="wrapper f-center">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1 class="big-title">Giriş</h1>

            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "İstifadəçi adı" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Şifrə" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <div class="remember-box">
                @Html.CheckBoxFor(m => m.RememberMe, new { @id = "chckinp" })
                @Html.LabelFor(m => m.RememberMe, new { @for = "chckinp" })
            </div>
            <input type="submit" value="Giriş">
        }
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}