<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @RenderSection("styles", required: false)
    <title>@ViewBag.Title - Bakcell</title>

</head>
<body>
    <header>
        <ul id="menu">
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Gələn sifarişlər", "PendingOrders", "Home")</li>
                <li>@Html.ActionLink("Göndərilən sifarişlər", "SentOrders", "Home")</li>
                <li>@Html.ActionLink("Təsdiqlənməmiş sifarişlər", "WaitingOrders", "Home")</li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn" onclick="dropdwn()" >İstifadəçilər</button>
                        <div class="dropdown-content" id="drpcnt">
                            @Html.ActionLink("Menecerlər", "Managers", "Account")
                            @Html.ActionLink("Kuryerlər", "Couriers", "Account")
                            @Html.ActionLink("Satıcılar", "Vendors", "Account")
                        </div>
                    </div>
                </li>
            }
            @if (User.IsInRole("Menecer"))
            {
                <li>@Html.ActionLink("Sifariş göndər", "Create", "Orders")</li>
                <li>@Html.ActionLink("Göndərilən sifarişlər", "List", "Orders")</li>
            }
            @if (User.IsInRole("Satıcı"))
            {
                <li>@Html.ActionLink("Sifarişlərim", "OrderList", "Orders")</li>
            }
            @if (User.IsInRole("Kuryer"))
            {
                <li>@Html.ActionLink("Sifarişlər", "BeingDeliveredOrders", "Home")</li>
            }
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Çıxış</a>

                }
            </li>
        </ul>
        <div onclick="menufunc(this)" class="menu-btn">
            <span></span>
        </div>
    </header>

    <div class="wrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
